:root {
    --GenWidth: 1440px;
    --nav-blue: #08c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ----------Global styles----------- */

ul {
    list-style:none
}
a, a:hover, a:visited, a:active{
    color: inherit;
    text-decoration: none;
}

body {
    max-width: var(--GenWidth);
    margin: 0 auto;
    position: relative;
}

/* ----------Main content----------- */

.main-container {
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
}

/* ----------Main article----------- */

 .bg-image {
    background-image: url(./media/bg.jpg);
    height: 675px;
    background-position: center bottom;
    width: auto;
 }

/* ----------Main article - nav----------- */
.main-nav {
    padding: 90px 0 110px 0;
    width: 980px;
    margin: 0 auto;
}
.main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:stretch;
    background: rgb(115,115,115);
    border: 1px solid #6d6d6d;
    background: linear-gradient(180deg, rgba(115,115,115,1) 0%, rgba(94,94,94,1) 50%, rgba(112,112,112,1) 50%, rgba(141,141,141,1) 100%);
    height: 36px;
    border-radius: 5px;
}
.main-nav li {
    color: white;
    flex-basis: 106px;
    text-align: center;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid darkslategrey;
    font-size: 13px;
    text-shadow:  1px 1px #000000;
    font-weight: 300;
}
.main-nav li:last-child {
    border-right: none;
    flex-basis: auto;
    flex: 1;
}
.main-nav li:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}
li.nav-search:hover {
    background-image: none;
}
.nav-apple {
    fill: #d8d8d9;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 1px -1px 1px rgba(0, 0, 0, .7));
}
.nav-apple svg{
    width: 25px;
    height: 25px;
}
.nav-search {
    width: auto;
}
.nav-search input{
    width: 80%;
    height: 20px;
    border-radius: 10px;
    background: inherit;
    -webkit-box-shadow: inset 3px 3px 8px 1px rgba(0,0,0,0.68); 
    box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,0.68);
    border: 0;
    /* background-image: url(./media/search.svg); */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" stroke="white" viewBox="-2.5 -2.5 24 24" width="18" height="18" preserveAspectRatio="xMinYMin"><path d="M8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12zm6.32-1.094l3.58 3.58a1 1 0 1 1-1.415 1.413l-3.58-3.58a8 8 0 1 1 1.414-1.414z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5%;
    color: white;
}
.nav-search input[type="text"]{
    padding-left: 20px; 
}
.nav-search input:focus {
    border: none;
    outline: none;
    background: white;
    color: black;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="black" stroke="black" viewBox="-2.5 -2.5 24 24" width="18" height="18" preserveAspectRatio="xMinYMin"><path d="M8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12zm6.32-1.094l3.58 3.58a1 1 0 1 1-1.415 1.413l-3.58-3.58a8 8 0 1 1 1.414-1.414z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5%;
}


/* ----------Main article - bg text----------- */
.bg-text {
    text-align: center;
    color: white;
    width: 800px;
    margin: 0 auto;
    padding-top: 0px;
}
.bg-text-item {
    font-weight:100;
    padding-bottom: 20px;
}

.text-1 {
    font-size: 50px;
}
.text-2 {
    font-size: 30px;
}
.text-3 {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    fill: white;
}
.text-3 a {
    margin: 5px 0;
    padding: 0 5px 0 0;
}
.text-3 a:hover {
    border-bottom: 1px solid white;
}

/* ----------section - products nav----------- */
.products-nav {
    padding-top: 3px;
}
.products-nav ul {
    display: flex;
    flex-direction: row;
}
.products-nav ul > * {
    padding-right: 2px;
}

/* ----------section - footer----------- */

footer {
    width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 13px;
    padding-bottom: 40px;
    font-size: xx-small;
}
footer.footer-container a{
    color: var(--nav-blue);
}

footer > * {
    flex-basis: 50%;
}

/* ----------section - footer-right------ */

ul.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
ul.footer-nav li{
    padding: 0 5px;
    border-right: 1px solid var(--nav-blue);
}
ul.footer-nav li:last-child {
    padding-right: 0;
    border-right: 0;
}

/* ----------section - footer-left------ */

p.info {
    padding-bottom: 15px;
}
p.copyright a:first-child {
    border-right: 1px solid var(--nav-blue);
    padding-right: 5px;
    margin-right: 5px;
}



